/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url(https://fonts.gstatic.com/s/merriweather/v19/u-4m0qyriQwlOrhSvowK_l5-eRZOf-c.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v19/u-440qyriQwlOrhSvowK_l5-fCZJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(https://fonts.gstatic.com/s/merriweather/v19/u-4n0qyriQwlOrhSvowK_l52xwNZWMf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'), url(https://fonts.gstatic.com/s/oswald/v16/TK3hWkUHHAIjg75-1h4Tus9H.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg752GT8D.ttf) format('truetype');
}
html {
  font-size: 100%;
  font-family: "Merriweather", serif;
  color: #333;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  font-family: "Oswald", sans-serif;
}
h2 {
  font-size: 2.4em;
  font-family: "Oswald", sans-serif;
}
h3 {
  font-size: 2em;
  font-family: "Oswald", sans-serif;
}
h4 {
  font-size: 1.8em;
  font-family: "Oswald", sans-serif;
}
p {
  font-size: 1.4em;
  font-family: "Merriweather", serif;
}
@media (min-width: 64em) {
  html {
    font-size: 112.5%;
  }
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
.region-header-col-1,
.region-header-col-2 {
  float: left;
  font-family: "Oswald", sans-serif;
}
.site-logo-text {
  font-size: 2em;
}
.site-logo-text a {
  text-decoration: none;
  color: #333;
}
.site-logo-text a:hover {
  text-decoration: underline;
}
.site-logo-text-icon {
  text-decoration: none;
  font-size: 2rem;
}
.my-navbar {
  margin-top: 12px;
  list-style-type: none;
}
.my-navbar li {
  display: inline;
  box-sizing: border-box;
  padding: 0 1em;
}
.my-navbar li a {
  color: #333;
  text-decoration: none;
  font-size: 1.4em;
}
.my-navbar li a:hover {
  text-decoration: underline;
}
.inner-wrap-flash img {
  max-width: 100%;
}
.inner-wrap-main {
  margin: 0 auto;
  width: 960px;
}
.region-main.has-sidebar {
  display: inline;
  float: left;
  width: 65%;
}
.has-sidebar-right,
.region-sidebar-left {
  margin-right: 5%;
}
.wrap-sidebar {
  box-sizing: border-box;
  padding-top: 3em;
  width: 30%;
  float: left;
  display: inline;
}
.block {
  margin-bottom: 3em;
}
.block h4 {
  margin: 0;
  border-bottom: 1px solid #ccc;
}
.block p {
  margin-top: 3px;
}
.figure {
  margin: 0;
}
figcaption p {
  margin-top: 1px;
  color: #999;
  font-size: 1em;
  font-style: italic;
}
.byline {
  box-sizing: border-box;
  padding: 1em;
  border: 1px solid #ccc;
}
.byline img {
  float: left;
  margin-right: 1em;
}
.byline h4 {
  margin: 0;
}
.byline:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}
.byline::after {
  content: "";
  display: block;
  clear: both;
}
.outer-wrap-footer {
  background-image: linear-gradient(#2c3539, #586b73);
  color: white;
  font-size: 0.7em;
  box-sizing: border-box;
  padding: 2em;
  margin-top: 4em;
}
.inner-wrap-footer {
  margin: 0 auto;
  width: 960px;
}
.footer-column {
  float: left;
  width: 30%;
  margin-right: 3%;
  padding-bottom: 4em;
}
.footer-column p a {
  color: white;
}
.site-footer p {
  text-align: center;
}
ul.toc {
  list-style-type: none;
  padding-left: 0;
  font-family: "Oswald", sans-serif;
  font-size: 1.4em;
}
ul.toc li a {
  color: #333;
  text-decoration: none;
}
ul.toc li.section-header {
  margin-top: 1.4em;
  border-bottom: 1px solid #ccc;
}
ul.toc li a:hover {
  text-decoration: underline;
}
.next a,
.previous a {
  color: #333;
  text-decoration: none;
}
.next a:hover,
.previous a:hover {
  text-decoration: underline;
}
.next {
  float: right;
}
.inner-wrap-main h4 {
  margin-bottom: 0;
}
.inner-wrap-breadcrumb {
  margin: 0 auto;
  width: 960px;
}
.breadcrumb-list ul {
  list-style-type: none;
  padding: 0;
}
.breadcrumb-list ul li {
  display: inline;
}
.breadcrumb-list ul li::after {
  content: "/";
  padding: 0 1.4em;
}
.breadcrumb-list ul li:last-child::after {
  content: "";
  padding: 0;
}
.breadcrumb-list ul li a {
  color: #333;
  text-decoration: none;
}
.breadcrumb-list ul li a:hover {
  text-decoration: underline;
}
.left {
  float: left;
}
.right {
  float: right;
}
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #424242;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font: 100.01%/1 serif;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
