ul.toc {
    list-style-type: none;
    padding-left: 0;
    margin-top: 23px;
}

ul.toc li a {
    color: #333;
    text-decoration: none;
}

ul.toc li.section-header {
    margin-top: 23px;
    border-bottom: 1px solid #ccc;
    font-family: "Oswald", sans-serif;
}

ul.toc li a:hover {
    text-decoration: underline;
}

.next a,
.previous a {
    color: #333;
    text-decoration: none;
}

.next a:hover,
.previous a:hover {
    text-decoration: underline;
}

.next {
    float: right;
}
